.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    bottom: 15px;
    width: 90%;
    left: 5%;
}

.button img {
    width: 100px;
    height: auto;
    cursor: pointer;
}