.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
}

.modal .content {
    width: 250px;
    background: white;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-top: 50%;
    padding: 50px;
    color: #444 !important;
}