.taman {
    max-width: 700px;
    background-image: url('../../../assets/backgroundList.jpg');
    margin: auto;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: scroll;
}