.pokemon-detail {
    width: 100%;
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
}

.pokemon-detail img {
    margin: auto;
    height: 250px;
}

.pokemon-detail .types{
    margin: 50px 0px;
}

.pokemon-detail .types span {
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.pokemon-detail .moves{
    margin: 50px 0px;
}

.pokemon-detail .moves span {
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 10px;
    background: #eee;
    color: #444;
}

.pokemon-detail .preview {
    display: flex;
    flex-wrap: wrap;
}

.pokemon-detail .preview img {
    width: 25%;
    height: auto;
}