body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.normal {
  background: #eee;
  color: #444;
}

.fighting {
  background: salmon;
  color: #444;
}

.flying {
  background: sandybrown;
  color: #444;
}

.poison {
  background: purple;
  color: white;
}

.ground {
  background: brown;
  color: white;
}

.rock {
  background: black;
  color: white;
}

.bug {
  background: yellowgreen;
  color: #444;
}

.ghost {
  background: #444;
  color: white;
}

.steel {
  background: gray;
  color: white;
}

.fire {
  background: red;
  color: white;
}

.water {
  background: blue;
  color: white;
}

.grass {
  background: turquoise;
  color: #444;
}

.electric {
  background: yellow;
  color: #444;
}

.psychic {
  background: pink;
  color: #444;
}

.ice {
  background: cornflowerblue;
  color: #444;
}

.dragon {
  background: orange;
  color: #444;
}

.dark {
  background: black;
  color: white;
}

.fairy {
  background: pink;
  color: white;
}

.unknown {
  background: black;
  color: white;
}

.shadow {
  background: black;
  color: white;
}


.wobble-hor-bottom{-webkit-animation:wobble-hor-bottom .8s infinite both;animation:wobble-hor-bottom .8s infinite both}
.scale-in-center{-webkit-animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}@keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}
@-webkit-keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}